/* header.css */

/* --- Variables --- */
:root {
    --header-bg-color: transparent;
    --header-text-color: white;
    --header-scrolled-bg-color: white;
    --header-scrolled-text-color: black;
    --header-height: 72px;
    --header-height-mobile: 50px;
}

/* --- Header Wrapper --- */
.header-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
    transition: background-color 0.3s,
        transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}
.header-wrapper.is-scrolled {
    background-color: var(--header-scrolled-bg-color);
}

.header nav {
    height: var(--header-height-mobile);
}
@media (min-width: 768px) {
    .header nav {
        height: var(--header-height);
    }
}

/* --- Navbar --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    position: relative;
    z-index: 501;
}
@media (min-width: 768px) {
    .navbar {
        padding: 0 4rem;
    }
}

/* --- Hamburger Menu --- */
.nav-hamburger {
    display: flex;
    align-items: center;
    color: var(--header-text-color);
    transition: color 0.3s;
    cursor: pointer;
}
.nav-hamburger button {
    margin-left: -35px;
    padding-left: 35px;
}
.header-wrapper.is-scrolled .nav-hamburger {
    margin-top: 0;
}
.header-wrapper.is-scrolled .nav-hamburger button {
    color: var(--header-scrolled-text-color);
}
.header-wrapper.is-scrolled .nav-hamburger,
body.appear.nav-open .nav-hamburger,
body.appear.nav-open .nav-hamburger span {
    color: var(--header-scrolled-text-color);
}

.hamburger-react {
    cursor: pointer;
    height: 48px;
    width: 48px;
    position: relative;
    transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
}
.hamburger-react div {
    background: currentColor;
    height: 2px;
    left: 14px;
    position: absolute;
    border-radius: 9em;
    width: 20px;
    transition: all 0.3s cubic-bezier(0, 0, 0, 1);
}
.hamburger-react div:nth-child(1) {
    top: 17px;
}
.hamburger-react div:nth-child(2) {
    top: 23px;
}
.hamburger-react div:nth-child(3) {
    top: 29px;
}

/* Hamburger animation to 'X' */
.nav-open .hamburger-react div:nth-child(1) {
    transform: rotate(45deg) translate(4px, 5px);
}
.nav-open .hamburger-react div:nth-child(2) {
    opacity: 0;
}
.nav-open .hamburger-react div:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -5px);
}

.nav-link:hover {
    color: rgb(var(--brand-golden));
}
@media (min-width: 768px) {
    .menu-text-button {
        display: block;
    }
}

/* --- Logo --- */
.nav-logo {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    transition: opacity 0.3s;
}

.nav-logo img {
    height: 50px;
    width: 50px;
}

.header-wrapper.is-scrolled .nav-logo img {
    height: 42px;
    width: 42px;
}

@media (max-width: 768px) {
    .nav-logo img {
        height: 30px;
        width: 30px;
    }

    .header-wrapper.is-scrolled .nav-logo img {
        height: 30px;
        width: 30px;
    }

    .nav-logo {
        height: 30px;
        width: 30px;
        top: 50%;
    }
}
.nav-logo a {
    display: flex;
    width: 100%;
    height: 100%;
}
.nav-logo img {
    position: absolute;
    inset: 0;
    transition: opacity 0.3s;
    margin: auto;
}
.green {
    display: block;
    width: 42px;
    height: 42px;
}
.header-wrapper.is-scrolled .nav-logo {
    top: 50%;
}
.header-wrapper.is-scrolled .green {
    display: block;
}
.header-wrapper.is-scrolled .white {
    display: none;
}

.nav-logo-text {
    pointer-events: none;
    position: fixed;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);
    transition: opacity 0.3s;
    opacity: 1;
    scale: 1;
}
.header-wrapper.is-scrolled .nav-logo-text {
    opacity: 0;
}
@media screen and (max-width: 767px) {
    .nav-logo-text img {
        max-width: 160px;
        width: 160px;
    }
}

@media (min-width: 768px) {
    .nav-logo-text {
        top: 98px;
        max-width: 195px;
    }
    .nav-logo-text img {
        width: 100%;
        height: auto;
    }
}

.header-wrapper.is-scrolled .nav-controls {
    margin-top: 0;
}

/* --- Controls --- */
.nav-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 16px;
}

/* --- Language Selector --- */
.nav-language {
    position: relative;
}
.language-selector {
    display: flex;
    align-items: center;
    color: var(--header-text-color);
    transition: color 0.3s;
}
.language-selector span,
.language-icon {
    color: var(--header-text-color);
}
.language-selector.is-scrolled,
.language-selector.is-scrolled span,
.language-selector.is-scrolled .language-icon {
    color: var(--header-scrolled-text-color) !important;
}
.language-selector.nav-open,
.language-selector.nav-open span,
.language-selector.nav-open .language-icon {
    color: var(--header-scrolled-text-color) !important;
}
.language-selector p {
    font-family: "gillsans", Cabin, sans-serif;
    text-transform: uppercase;
}
.language-icon {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    mask: url("/icons/down-arrow.svg") center / contain no-repeat;
    transition: transform 0.3s;
}
.language-selector[aria-expanded="true"] .language-icon {
    transform: rotate(180deg);
}
.language-options {
    position: absolute;
    right: 0;
    top: 200%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s;
    align-items: end;
}
.language-selector[aria-expanded="true"] + .language-options {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-10px);
}
.language-options button {
    color: white;
    font-family: "gillsans", Cabin, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: right;
    font-size: 0.95rem;
    width: fit-content;
    padding: 0;
}
.language-options button.selected {
    color: rgb(var(--text-grey));
    pointer-events: none;
}

/* --- Reserve Button --- */
/* .header-wrapper.is-scrolled .reserve-button {
  background-color: var(--header-scrolled-text-color);
  color: var(--header-scrolled-bg-color);
} */
@media (min-width: 768px) {
    .reserve-button {
        display: block;
    }
}
.nav-reserve {
    display: block;
}
@media (max-width: 767px) {
    .nav-reserve {
        display: none !important;
    }

    .nav-controls {
        margin-top: 0;
    }
}

/* --- Full Screen Menu --- */
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 500;
    transform: translateY(-120%);
    transition: transform 1.5s;
    pointer-events: none;
    overflow-y: auto;
}
body.nav-open .nav-menu {
    transform: translateY(0);
    pointer-events: auto;
}
body.nav-open {
    overflow: hidden;
}

.no-scroll {
    overflow: hidden !important;
    position: fixed !important;
    width: 100vw !important;
    height: 100vh !important;
    top: var(--scroll-lock-top, 0) !important;
    left: 0 !important;
}

.nav-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    min-height: 100%;
}
@media (min-width: 768px) {
    .nav-menu-content {
        gap: 5rem;
    }
}

@media (min-width: 768px) {
    .main-links a {
        font-size: 36px;
    }
}
/* --- Main Links --- */
.main-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
}
.main-links a {
    text-transform: capitalize;
    color: black;
    position: relative;
    text-decoration: none;
}

@media (min-width: 768px) {
    .main-links a {
        font-size: 2.25rem;
    }
    .main-links ul {
        gap: 1.875rem;
    }
}

/* --- Bottom Links --- */
.bottom-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .bottom-links {
        position: absolute;
        bottom: 4rem;
        left: 0;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 4rem;
    }
}
.external-link a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    text-decoration: none;
    font-family: "gillsans", Cabin, sans-serif;
    text-transform: uppercase;
}
.external-link .exit-icon {
    width: 24px;
    height: 24px;
    background-color: black;
    mask: url("/icons/exit.svg") no-repeat center / contain;
}
.social-links {
    display: flex;
    gap: 1rem;
}
.social-links img {
    width: 24px;
    height: 24px;
}

.menu-text-button span {
    display: inline;
}
@media (max-width: 767px) {
    .menu-text-button span {
        display: none !important;
    }
    .menu-text-button {
        width: 0 !important;
        min-width: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
    }
}

@media (max-width: 639px) {
    body.nav-open .nav-logo {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
}

.reserve-button {
}
