.three-column-grid-wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
}

.three-column-grid {
    display: flex;
    gap: 32px;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .three-column-grid {
        flex-direction: column;
    }
}

.three-column-grid img {
    width: 100%;
}