.newsletter-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0 1rem;
    box-sizing: border-box;
}

.newsletter-modal-wrapper {
    width: 100%;
    max-width: 32.5rem;
}

.newsletter-modal.block {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 100%;
    max-height: 90vh;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 4rem 2.5rem;
    position: relative;
}

.newsletter-modal .newsletter-modal-header {
    text-align: center;
}

.newsletter-modal input,
.newsletter-modal select {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    display: block;
}

.newsletter-modal input {
    cursor: text;
}

.newsletter-modal .name-inputs {
    display: flex;
    gap: 1rem;
    max-width: 436px;
    flex-direction: row;
}

.newsletter-modal .name-inputs input {
    flex: 1 1 0;
    min-width: 0;
}

.newsletter-modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-modal form {
    width: 100%;
}

.newsletter-modal form > div {
    width: 100%;
    max-width: 436px;
    flex-direction: column;
    align-items: center;
}

.newsletter-modal form > div > div {
    width: 100%;
    max-width: 436px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-modal form > div > div,
.newsletter-modal form > div > div > select,
.newsletter-modal form > div > div > input {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
}

.newsletter-modal input {
    width: 100%;
    font-size: 1rem;
}

.newsletter-modal .pill-dropdown-button {
    margin-bottom: 1rem;
    margin-top: 0;
}

.newsletter-modal .cta-button {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.field-error {
    position: absolute;
    top: calc(100% - 0.5rem);
    left: 0;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    z-index: 1;
    background-color: rgb(243 244 246);
    padding: 0.5rem 0.75rem;
    height: 28px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    font-family: var(--font-gill-sans, "Cabin", sans-serif);
    width: calc(100% - 1.5rem);
    text-align: left;
    gap: 0.5rem;
}

.relative {
    position: relative;
}

.newsletter-modal .terms-text a {
    color: inherit;
}

.newsletter-modal .terms-text {
    margin-bottom: 0;
}

.newsletter-modal .modal-header {
    margin-top: 0;
}

.newsletter-modal select:focus,
.newsletter-modal input:focus {
    outline: 1px solid #333333;
}

.newsletter-modal input::placeholder {
    opacity: 0.6;
    color: #333333;
}

.newsletter-modal select:has(option:first-child:checked) {
    color: rgba(51, 51, 51, 0.6);
    /* opacity: 0.6; */
}

.newsletter-modal select {
    -webkit-appearance: none;
    appearance: none;
}

.newsletter-modal div:has(> select) {
    position: relative;
}

.newsletter-modal div:has(> select)::after {
    content: "";
    display: block;
    position: absolute;
    right: 1.2rem;
    top: 1rem;
    width: 24px;
    height: 24px;
    pointer-events: none;
    background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Type=Chev Down, State=Dark"><mask id="mask0_384_392" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect id="Bounding box" width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_384_392)"><path id="keyboard_arrow_up" d="M12.0002 12.5751L15.9002 8.6751C16.0835 8.49176 16.3169 8.4001 16.6002 8.4001C16.8835 8.4001 17.1169 8.49176 17.3002 8.6751C17.4835 8.85843 17.5752 9.09177 17.5752 9.3751C17.5752 9.65843 17.4835 9.89176 17.3002 10.0751L12.7002 14.6751C12.5002 14.8751 12.2669 14.9751 12.0002 14.9751C11.7335 14.9751 11.5002 14.8751 11.3002 14.6751L6.7002 10.0751C6.51686 9.89176 6.4252 9.65843 6.4252 9.3751C6.4252 9.09177 6.51686 8.85843 6.7002 8.6751C6.88353 8.49176 7.11686 8.4001 7.4002 8.4001C7.68353 8.4001 7.91686 8.49176 8.1002 8.6751L12.0002 12.5751Z" fill="%23333333"/></g></g></svg>')
        no-repeat center center;
    background-size: 24px 24px;
}

.newsletter-modal .close-button {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background: none;
    border: none;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
    z-index: 10;
}

.newsletter-modal .text-h5 {
    margin: 0;
}

.newsletter-modal .image-container {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 21.625rem;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.newsletter-modal .image-container img {
    border-radius: 0;
}

.newsletter-modal-success-header {
    padding: 21.625rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-close-button {
    margin-top: 2rem !important;
    margin-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
    .newsletter-modal .pill-dropdown-button {
        height: 2.625rem;
        margin-bottom: 0.5rem;
    }

    .newsletter-modal .pill-dropdown-button {
        padding-bottom: 0;
        padding-top: 0;
    }

    .newsletter-modal-header {
        max-width: 396px;
        width: 100%;
    }

    .newsletter-modal div:has(> select)::after {
        top: 0.6rem;
    }

    .newsletter-modal-success-header {
        padding: 11.25rem 4rem 0 4rem;
    }

    .newsletter-modal .image-container {
        max-height: 11.25rem;
    }

    .newsletter-modal.block {
        padding: 2rem 1.25rem;
    }
}
@media screen and (max-width: 640px) {
    .newsletter-modal .name-inputs {
        flex-direction: column;
        gap: 0;
    }

    .newsletter-modal-header {
        max-width: 332px;
    }

    .newsletter-modal-success-header {
        padding: 11.25rem 1rem 0 1rem;
    }

    .name-inputs > div {
        width: 100%;
    }
}
