.section.slider-teaser-media-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

.slider-teaser-media-wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    min-height: 100vh;
}

.slider-teaser-media {
    height: 100vh;
    width: 100%;
    position: relative;
}

.slider-teaser-media > div {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100%;
    transition-property: opacity;
    transition-duration: 500ms;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.slider-teaser-media > div > div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.slider-teaser-media picture,
.slider-teaser-media img {
    height: 100%;
    width: 100%;
    display: block;
}

.slider-teaser-media img {
    object-fit: cover;
}

.slider-teaser-content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    max-width: 700px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}

.slider-teaser-content-overlay .button {
    margin-top: 2rem;
}
