/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
    /* colors */
    --brand-beige: 211, 174, 148;
    --brand-black: 48, 52, 53;
    --brand-blue: 162, 211, 212;
    --brand-coral: 242, 164, 133;
    --brand-golden: 156, 133, 107;
    --brand-green: 160, 194, 173;
    --brand-sage: 83, 100, 92;
    --brand-tan: 180, 153, 123;
    --brand-teal: 1, 109, 105;
    --brand-white: 246, 246, 246;
    --brand-yellow: 223, 197, 82;
    --surface-white: 255, 255, 255;
    --text-black: 51, 51, 51;
    --text-grey: 102, 102, 102;
    --text-white: 255, 255, 255;
    --border-grey: 217, 217, 217;

    /* fonts */
    --font-cormorant: Cormorant, sans-serif;
    --font-gill-sans: "Gill Sans", Cabin, sans-serif;
}

/* Desktop Styling */
@media (width >= 1024) {
}

/* tablate styling */
@media (width >= 768px) and (width < 1024px) {
}

/* Defult-Mobile Styling */
body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-cormorant, Cormorant), serif;
    color: rgb(var(--text-black));
    background-color: rgb(var(--surface-white));
    margin: 0;
    line-height: inherit;
    display: none;
}

body.appear {
    display: block;
}

.animate-underline {
    position: relative;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.animate-underline:before {
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 1px;
    width: 0;
    background-color: currentColor;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 0.3s;
    content: "";
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.animate-underline:hover:before {
    content: "";
    width: 100%;
}

header .header,
footer .footer {
    visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
    visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    letter-spacing: -0.03em;
    line-height: 100%;
}
h1,
.text-h1 {
    line-height: 95%;
    font-size: clamp(48px, 8vw, 100px);
}
.text-t2,
.text-h4,
.text-t3,
.text-t1,
.text-t5,
.text-l2 {
    line-height: 100%;
}
.text-h2,
.text-h5,
h2,
h5 {
    line-height: 110%;
}
.text-p1,
.text-p2,
.text-p3,
.text-p4 {
    line-height: 120%;
}
.text-b {
    line-height: 110%;
    letter-spacing: 0.15em;
}

.text-b {
    font-size: clamp(14px, 1.5vw, 16px);
}
h2,
.text-h2 {
    font-size: clamp(28px, 3vw, 40px);
}
h3,
.text-h3 {
    font-size: clamp(24px, 2.5vw, 36px);
}
h4,
.text-h4 {
    font-size: clamp(24px, 3vw, 32px);
}
h5,
.text-h5 {
    font-size: clamp(24px, 1.8vw, 24px);
}
.text-l1 {
    font-size: clamp(14px, 2vw, 20px);
}
.text-l2 {
    font-size: clamp(16px, 1.8vw, 16px);
    font-family: var(--font-gill-sans, sans-serif);
}
.text-l3 {
    font-size: clamp(14px, 1.5vw, 14px);
}
.text-l4 {
    font-size: clamp(8px, 1.2vw, 10px);
}
.text-p1 {
    font-size: clamp(20px, 2.5vw, 24px);
}
.text-p2 {
    font-size: clamp(16px, 2vw, 20px);
}
.text-p3 {
    font-size: clamp(14px, 1.5vw, 16px);
}
.text-p4 {
    font-size: clamp(12px, 1.2vw, 14px);
}
.text-t1 {
    font-size: clamp(32px, 4vw, 52px);
}
.text-t2 {
    font-size: clamp(40px, 4.5vw, 80px);
}
.text-t3 {
    font-size: clamp(32px, 4vw, 64px);
}
.text-t4 {
    font-size: clamp(28px, 3vw, 52px);
}
.text-t5 {
    font-size: clamp(24px, 3vw, 40px);
}

p,
dl,
ol,
ul,
pre,
blockquote {
    font-size: clamp(20px, 2.5vw, 24px);
    letter-spacing: -0.03em;
    line-height: 100%;
}

input,
textarea,
select,
button {
    font: inherit;
}

.custom-link,
button {
    font-size: 0.95rem;
}

.cta-link {
    color: var(--text-white);
    text-decoration: none;
    font-family: var(--font-gill-sans, sans-serif);
    font-size: 0.95rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.cta-button {
    width: fit-content;
    border-radius: 9999px;
    background-color: rgb(var(--text-white));
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-family: var(--font-gill-sans, sans-serif);
    font-size: 0.875rem;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 2.1px;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.18);
    color: black;
    transition-property: color, background-color;
    transition-duration: 500ms;
    text-decoration: none;
}

@media (min-width: 768px) {
    .cta-button {
        font-size: 1rem;
    }
}

.cta-button:hover {
    background-color: rgb(var(--brand-golden));
    color: rgb(var(--text-white));
}

.arrowRight {
    position: relative;
    padding-right: 2em;
    display: inline-flex;
    align-items: center;
}

.arrowRight::after {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url('data:image/svg+xml;utf8,<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_3331_9939" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="21" height="21"><rect x="0.447266" y="0.868164" width="20" height="20" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_3331_9939)"><path d="M12.4166 16.9022L11.2923 15.7454L15.3662 11.6715H2.44727V10.0715H15.3662L11.2923 5.99762L12.4166 4.84082L18.4473 10.8715L12.4166 16.9022Z" fill="white"/></g></svg>')
        no-repeat center center;
    background-size: contain;
    position: absolute;
    right: 0.2em;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
